<h1>API Token for <%= current_user.email %></h1>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><%= current_user.authentication_token.present? ? current_user.authentication_token : "You need to generate a token first" %>  <small><%= link_to 'Generate New Token', generate_new_token_path, method: :post, class: 'btn btn-success', id: 'generate-new-token' %></small></h4>
      </div>
    </div>
  </div>
</div>

<h1>Last 30 Days Activity</h1>
<div class="row">
  <div class="col-lg-12">
    <% if current_user.api_requests.any? %>
      <%= line_chart sanitise_hash_for_line_graph(@users_last_30_days_requests), library: { 
          title: 'Requests by HTTP Status', 
          titlePosition: 'out',
          colors: ['#4AC948', '#EE3B3B']
        } %>
    <% else %>
      <h4>You have not yet made any API requests</h4>
    <% end %>
  </div>
</div>

<h1>Total Activity (All Time)</h1>
<% if current_user.api_requests.any? %>
  <div class="row">
    <div class="col-lg-6">
      <h4>Successful Requests to Date</h4>
      <h1><%= number_with_delimiter(@all_users_successful_requests.count, :delimiter => ',')
       %></h1>
    </div>
    <div class="col-lg-6">
      <h4>Unsuccessful Requests to Date</h4>
      <h1><%= number_with_delimiter(@all_users_unsuccessful_requests.count, :delimiter => ',')
       %></h1>
    </div>
  </div>
<% else %>
  <h4>You have not yet made any API requests</h4>
<% end %>