<h1>API Token for <%= current_user.email %></h1>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><%= current_user.authentication_token.present? ? current_user.authentication_token : "You need to generate a token first" %>  <small><%= link_to 'Generate New Token', generate_new_token_path, method: :post, class: 'btn btn-success', id: 'generate-new-token' %></small></h4>
      </div>
    </div>
  </div>
</div>

<h1>Last 30 Days Activity</h1>
<div class="row">
  <div class="col-lg-12">
    <% if current_user.api_requests.any? %>
      <%= line_chart current_user.api_requests.group_by_day(:created_at, range: 30.days.ago.midnight..Time.now).count %>
    <% else %>
      <h4>You have not yet made any API requests</h4>
    <% end %>
  </div>
</div>

<h1>All Activity</h1>
<div class="row">
  <div class="col-lg-6">
    <h4>Successful Requests</h4>
    <h1><%= @successful_requests.count %>
  </div>
  <div class="col-lg-6">
    <h4>Unsuccessful Requests</h4>
    <h1><%= @unsuccessful_requests.count %>
  </div>
</div>