<%= raw method[:full_description] %>

<% unless method[:formats].blank? %>
  <%= heading(t('apipie.supported_formats'), h_level) %>
  <%= method[:formats].join(', ') %>
<% end %>

<% unless method[:errors].blank? %>
  <%= heading(t('apipie.errors'), h_level) %>
  <% method[:errors].each do |err| %>
    <%= err[:code] %>
    <%= err[:description] %>
    <br>
    <% unless err[:metadata].blank? %>
      Metadata:
      <pre class="prettyprint lang-yaml"><%= err[:metadata].to_yaml %></pre>
    <% end %>
  <% end %>
<% end %>

<% unless method[:metadata].blank? %>
  <%= heading(t('apipie.metadata'), h_level) %>
  <%= render(:partial => "metadata", :locals => {:meta => method[:metadata]}) %>
<% end %>

<% unless method[:examples].blank? %>
  <%= heading(t('apipie.examples'), h_level) %>
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#json" aria-controls="json" role="tab" data-toggle="tab">JSON</a></li>
        <li role="presentation"><a href="#xml" aria-controls="xml" role="tab" data-toggle="tab">XML</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active panel panel-default" id="json">
          <div class="panel-body">
            <pre class="prettyprint"><%= method[:examples][0] %></pre>
          </div>
        </div>
        
        <div role="tabpanel" class="tab-pane panel panel-default" id="xml">
          <div class="panel-body">
            <pre class="prettyprint"><%= method[:examples][1] %></pre>
          </div>
        </div>
      </div>
    </div>
<% end %>

<% unless method[:params].blank? %>
  <%= heading(t('apipie.params'), h_level) %>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class='table'>
        <thead>
          <tr>
            <th><%= t('apipie.param_name') %></th>
            <th><%= t('apipie.description') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render(:partial => "params", :locals => {:params => method[:params]}) %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
