<div>
  <h2>Species+/CITES Checklist API Documentation</h2>

  <p>Application Programming Interface (API) to support CITES Parties to increase the accuracy and efficiency of curating CITES species data for permitting purposes.</p>

<!--   <div class="panel panel-default">
    <div class="panel-heading">Version Specific Documentation</div>
    <ul class="list-group">
      <li class='list-group-item'><a href='<%= @doc[:doc_url] %><%= @doc[:link_extension] %>'><%= @doc[:name] %> <%= @doc[:resources].values.first && @doc[:resources].values.first[:version] %></a></li>
      <%= render(:partial => "languages", :locals => {:doc_url => @doc[:doc_url]}) %>
      <% if @versions && @versions.size > 1 %>
      <li class='pull-right'>
        <%= @versions.collect { |v| link_to v, Apipie.full_url(v+@doc[:link_extension]) }.join(' / ').html_safe %>
      </li>
      <% end %>
    </ul>
  </div> -->

  <h3 class="first">Getting Started</h3>

  <h4>Signing up for API access</h4>
  <p>You can sign up for an API account <%= link_to 'here', new_user_registration_path %>. Once you have signed up, visit <%= link_to 'Sign in', new_user_session_path %> to log in to the API Dashboard and retrieve your generated token.</p>

  <h4>Authenticating your requests</h4>
  Your authentication token needs to be passed into every request you make via the HTTP header below:</p>

  <div class="well">
    <pre>X-Authentication-Token: 8QW6Qgh57sBG2k0gtt</pre>
  </div>

  <p>Tokens can be manually regenerated from the API Dashboard</p>

  <h4>Tools for testing the API</h4>
  <p>There are a number of free tools available that allow you to test the API before you start integrating it in your systems. For example, <code>curl</code> is a popular command-line tool that could be used for this purpose:</p>

  <p>
  <code>curl -i "https://api.speciesplus.net/api/v1/taxon_concepts.xml?name=Mammalia" -H "X-Authentication-Token:YOUR_TOKEN_HERE"</code>
  </p>

  <div class="well alert alert-info">
    Please note: we now support encrypted connections, please switch your integrations to use https://api.speciesplus.net.
  </div>

  <p>There are also a number of tools that can be installed as an add-on to your browser; they can be found for example by searching for "rest client" in the add-ons repository for your browser.</p>

  <h4>Formats</h4>
  <p>All endpoint can return both JSON and XML data. The default is JSON, if you would like to receive XML data, you can add .xml to the endpoint as below:</p>

  <div class="well"><pre>https://api.speciesplus.net/api/v1/taxon_concepts.xml</pre></div>

  <h4>Optional parameters</h4>
  <p>Whereas authentication is passed via a HTTP header, other parameters for refining your response data are provided via the query string. These are detailed below and where appropriate in the documentation for each endpoint. Parameters can be combined.</p>

</div>

<h3 class="first">API Calls</h3>

<% @doc[:resources].sort_by(&:first).each do |key, api| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>
        <%= api[:name] %>
        <br>
        <small><%= api[:short_description] %></small>
      </h4>
      <table class='table'>
        <thead>
          <tr>
            <th>HTTP Verb / Endpoint</th>
            <th><%= t('apipie.description') %></th>
          </tr>
        </thead>
        <tbody>
          <% api[:methods].each do |m| %>
            <% m[:apis].each do |a| %>
              <tr>
                <td>
                  <a href='<%= m[:doc_url] %><%= @doc[:link_extension] %>'><strong>[<%= a[:http_method] %>]</strong> <%= a[:api_url] %></a>
                  <% if a[:deprecated] %>
                    <code>DEPRECATED</code>
                  <% end %>
                </td>
                <td width='60%'><%= a[:short_description] %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% unless content_for(:apipie_footer) == @doc[:copyright] %>
  <%= content_for :apipie_footer, raw(@doc[:copyright]) %>
<% end %>
